body {
    background: radial-gradient(#ffffff, #f0f0f0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.2rem;
}


.title {
    font-size: 5rem;
    margin: 2rem;
    text-wrap: nowrap;
}

.subtitle {
    font-size: 3rem;
    margin: 2rem;
    text-wrap: nowrap;
}

.form {
    display: flex;
    flex-direction: row;
}

.form input {
    width: 500px;
    height: 30px;
    font-size: 1.5rem;
}

.translation {
    display: block;
    width: 100%;
    font-size: 2rem;
    margin: 2rem 0; 
    height: 50vh;
    overflow: auto;
}

p {
    margin: 0.5rem 0;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}