<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Translator</title>
  </head>
  <body>
    <h1>YouTube Translator</h1>
    <form action="/translate" method="get">
      <input
        type="text"
        id="video-id"
        name="video-url"
        placeholder="Enter YouTube video URL"
      />
      <button id="translate-button">Translate</button>
    </form>

    {% if video_id %}
    <div>{{ video_id }}</div>
    <div id="video-container">
      <iframe
        id="video-player"
        width="560"
        height="315"
        src="{{ embed_url }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
    </div>
    {% endif %} 
    
    {% if translated_transcript %}
    <div id="translation">
      <p>{{ translated_transcript }}</p>
    </div>
    {% endif %}
  </body>
</html>
